*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: aliceblue;
    overflow-x: hidden!important;
    font-family: 'Fira Sans';
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    height: 375px;
    width: 375px;
}

/*===========HEADER SECTION==============*/

header{
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 68px;
    padding-top: 32px;
    z-index: 999;
}


li{
    display: inline;
    padding: 2rem ;
    justify-self: right;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    font-size: 1.4em;
    float: left;
    animation-name: flash;
    animation-duration: 7s;
    animation-iteration-count: 6;
}

ul a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    cursor: pointer;
}

ul a:hover{
    background-color:black;
    color: #22FFF0;
}

a:active {
    background-color: #007EA7;
    color: white;
  }

/*==========LANDING PAGE==================*/

#img{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-right: 2rem;
    border-style: none;
    
}

#about{
    height: 100vmin;
    background-image: linear-gradient(63deg, #003459 0%, #007EA7 50%, #00A8E8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-bottom: 6px solid black;
  }
#intro-text{
      line-height: 2em;
      letter-spacing: 0.2rem;
      padding-left: 5em;
 }


.main-info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows:minmax(100px, auto);
    grid-gap:2em;
    grid-row-gap:-2em;
    justify-items:center;
    align-items:center;
}
h1{
    transition: all 2.3s ease;
}

/*==========SKILLS SECTION===================*/

h3{
    text-align: center;
}

#skills{
    background-image: linear-gradient(72deg, white 50%, #22FFF0 100%);
    display: grid;
    grid-template-columns: 1fr 2fr 1 fr;
    text-align: center;
    border: 3px solid #003459;
    height: 100%;
    margin: 4px auto;
    padding: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2rem;
}



/*================FORM SECTION=====================*/

#form-header{
    text-align: center;
}
form, label{
    display: flex;
    flex-direction: column;
}
label{
    text-align: left;
    padding: 20px;
}
form{
    margin: 1rem 0;
    padding: 2em 15em;
    justify-content: space-around;
}
textarea{
    margin-bottom: 12px;
    font-family: cursive;
    margin-top: 10px;
    background-origin: padding-box;
    text-indent: 11px;
}


.form{
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    background-color: #003459;
    color: #dcdcdf;
    font-weight: 300;
    text-align: center;
}


button{
    color: aliceblue;
    background-color: #003459;
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    width: 25em;
    align-self: center;
    overflow: visible;
}
input{
    overflow: visible;
    border: 2px solid #00A8E8;
    height: 3em;
    border-radius: 15px 15px 15px 15px ;
    font-family: cursive;
    text-indent: 11px;
}
button:hover{
    background-image: linear-gradient(45deg, blue 0%, black 50%, royalblue 100%);
}

input::placeholder{
    font-family: cursive;
}


/*===============FOOTER SECTION====================*/

footer{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #00A8E8;
    font-family: monospace;
    letter-spacing: 3px;
    padding: 27px;
    text-align: center;
}
footer a{
    text-decoration: none;
}


/*=============KEYFRAMES SECTION=================*/


@keyframes flash{
    0%{
        color: #00A8E8;
    }
    30%{
        color: #22FFF0;
    }
    50%{
        color: #0aaf59;
    }
    70%{
        color: teal;
    }
    90%{
        color: thistle;
    }
    100%{
        color: wheat;
    }
}

/*==============MEDIA QUERIES =============*/
@media (min-width: 600px){
   img{
        max-width: 100%;
    }
    body{
        font-size: 100%;
        margin: 0;
        padding: 0;
    }
  }

  @media (max-width: 600px){
      img{
          max-width: 100%;
          height: 170px;
          width: 170px;
      }
  }

  @media (max-width: 600px){
    header{
        font-size: 1em;
        text-align: center;
    }
    button{
        justify-content: center;
        text-align: center;
        width: fit-content;
    }
    form, #form-header{
        display: grid;
        font-size: 100%;
        text-align: center;
        justify-self: center;
        padding-right: 19em;
    }
    input{
        justify-content: center;
        width: min-content;
        padding: auto auto;
    }

    header{
        max-width: 100%;
        font-size: 0.5em;
    }
    
    .main-info{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        font-size: 0.6em;
        text-align: left;
        line-height: 0;
        padding-top: 22px;
        letter-spacing: 0;
    }
    textarea{
        width: 15em;
    }
    
  }


 
  
  nav label {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    z-index: 999;
  }
  
  nav label:hover {
    cursor: pointer;
  }
  
  nav label span {
    position: absolute;
    top: 19px;
    right: 4px;
    width: 40px;
    height: 5px;
    border-radius: 4px;
    display: block;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  nav label span:first-child {
    top: 7px;
  }
  
  nav label span:last-child {
    top: 30px;
  }
  
  @media (min-width: 992px) {
    nav label {
      display: none;
    }
  }
  
  nav input {
    opacity: 0;
  }
  
  nav input:checked + label span {
    opacity: 0;
    top: 50%;
  }
  
  nav input:checked + label span:first-child {
    opacity: 1;
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  
  nav input:checked + label span:last-child {
    opacity: 1;
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
  }
  
  @media (min-width: 992px) {
    nav input {
      display: none;
    }
  }
  
  nav ul {
    background-color: rgba(18, 22, 56, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 10;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  @media (min-width: 992px) {
    nav ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
  }
  
  nav ul li {
    position: relative;
    -webkit-transform: translateY(-228px);
            transform: translateY(-228px);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  
  nav ul li:after {
    content: '';
    width: 72%;
    height: 4px;
    background-color: #007EA7;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 14%;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
  nav ul li:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  nav ul li.current {
    background-color: #00A8E8;
    pointer-events: none;
  }
  
  nav ul li.current a {
    color: #252525;
  }
  
  @media (min-width: 992px) {
    nav ul li {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  nav ul a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .02rem;
    display: inline-block;
    padding: 15px 26px 10px;
  }
  
  @media (min-width: 992px) {
    nav ul a {
      font-size: 1.2rem;
    }
  }
  
  nav ul a:hover, nav ul a:active, nav ul a:focus {
    background-color: transparent;
  }
  
  nav input:checked ~ ul {
    background-color: rgba(15, 21, 68, 0.664);
    height: 100%;
    padding: 80px 0 20px;
  }
  
  nav input:checked ~ ul li {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  